In [1]:
# Write a program to construct a Bayesian network considering medical data. Use this model to
# demonstrate the diagnosis of heart patients using the standard Heart Disease Data Set (You can use
# Java/Python ML library classes/API.

In [2]:
#!pip install pgmpy

import pandas as pd
from pgmpy.models import BayesianNetwork
from pgmpy.estimators import ParameterEstimator, BayesianEstimator
from pgmpy.estimators import MaximumLikelihoodEstimator
from pgmpy.inference import VariableElimination

In [3]:
data = pd.read_csv(r"D:\SEM 7\CL2\IR\Dataset\heart.csv")

In [4]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [5]:
data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [7]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [8]:
# creating instance of bayesian network
# here the tuples indicate the directed edges / relationships
# the first variable is considered to influence / is the parent of the second variable
# in the same tuple
# eg. age influences condition/target, cholestrol influences condition/target, etc
model = BayesianNetwork([
    ('age', 'target'),
    ('sex', 'target'),
    ('cp', 'target'),
    ('trestbps', 'target'),
    ('chol', 'target')
])

In [9]:
# Fit the model to the dataset using MaximumLikelihoodEstimator
model.fit(data, estimator=MaximumLikelihoodEstimator)

In [10]:
# to perform inference on probabilistic graphical models
# eliminate irrelevant variables by marginalizing over them and focus on imp variables
inference = VariableElimination(model)

In [11]:
# 21 - records for age 50
# 0 - 9
# 1 - 12

# predict the output (child) based on the influencing factor (parent)
# Predict the target (heart disease) outcome based on age being 50
query1 = inference.query(variables=['target'], evidence={'age':50})
print(query1)

# the model uses probability
# P(A/B) = P(A ∩ B) / P(B)

+-----------+---------------+
| target    |   phi(target) |
+===========+===============+
| target(0) |        0.5001 |
+-----------+---------------+
| target(1) |        0.4999 |
+-----------+---------------+

In [12]:
# Query 2: Predict the target (heart disease) outcome based on cholesterol level being 220
query2 = inference.query(variables=['target'],evidence={'chol' : 220})
print(query2)

+-----------+---------------+
| target    |   phi(target) |
+===========+===============+
| target(0) |        0.4996 |
+-----------+---------------+
| target(1) |        0.5004 |
+-----------+---------------+

In [13]:
# Query 3: Predict the target (heart disease) outcome based on blood pressure (trestbps) being 140
query3 = inference.query(variables=['target'],evidence={'trestbps' : 140})
print(query3)

+-----------+---------------+
| target    |   phi(target) |
+===========+===============+
| target(0) |        0.5000 |
+-----------+---------------+
| target(1) |        0.5000 |
+-----------+---------------+

In [14]:
print('Bayesian Network (BN):A Bayesian Network is a graphical model that represents probabilistic relationships among a set of variables using a directed acyclic graph (DAG). Each node represents a variable, and edges represent conditional dependencies. The model captures the joint probability distribution of all variables by factoring it into conditional probabilities. BN is used for decision-making and reasoning under uncertainty, such as predicting heart disease based on factors like age and cholesterol')

Bayesian Network (BN):A Bayesian Network is a graphical model that represents probabilistic relationships among a set of variables using a directed acyclic graph (DAG). Each node represents a variable, and edges represent conditional dependencies. The model captures the joint probability distribution of all variables by factoring it into conditional probabilities. BN is used for decision-making and reasoning under uncertainty, such as predicting heart disease based on factors like age and cholesterol

In [16]:
print("Bayes Theorem: Bayes' Theorem is a mathematical formula that updates the probability of a hypothesis (event) based on new evidence.")
​
 

print('BayesTheorem is widely used in areas like medical diagnostics, spam filtering, and machine learning. It helps refine predictions by incorporating new data.')

print('A Bayesian Network uses the principles of Bayes' Theorem to model the relationships between variables. ')

SyntaxError: invalid non-printable character U+200B (2381486389.py, line 2)